.main {
  background-color: #022d50;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
}

.searchForm {
  display: flex;
  align-items: center;
  position: relative; /* Add relative positioning */
}

.google {
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  width: 200%; 
  box-sizing: border-box;
  background-color: #039;
  text-align: center;
  color: white;
  margin-left: 10px; 
  cursor: pointer; 
}

.icon {
  width: 80px;
  height: 80px;
  background: url('../../../assets/Loop.png') no-repeat center center;
  background-size: contain;
  margin-left: -40px; 
  cursor: pointer; 
  z-index: 1; 
}

.but {
  background: url('../../../assets/WeatherFor.png') no-repeat center center;
  background-size: contain;
  width: 80px;
  height: 40px;
  border: none;
  margin-right: 10px; 
  cursor: pointer; 
}

.google:hover,
.icon:hover,
.but:hover {
  opacity: 0.8; 
}

.menu {
  position: fixed;
  right: 20px;
  top: 70px;
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.item {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  line-height: 7.35;
  width: 100%;
  height: 100%;
}

.selected {
  background-color: green; 
  color: white; 
}

.op {
  background: url('../../../assets/Menu.png') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
}

.opActive {
  background: url('../../../assets/Back.png') no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 40px;
  border: none;
  transform: translateX(-10px);
}

.suggestionsList {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
}

.suggestionItem:hover {
  background: #f0f0f0;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
  }

  .search {
    width: 100%;
    margin-bottom: 10px;
  }

  .but,
  .op {
    width: 30px;
    height: 30px;
  }

  .google {
    width: calc(100% - 60px);
  }

  .menu {
    width: 100%;
    right: 0;
  }
}
